@{
    ViewData["Title"] = "Адмін-панель";
}

<h2> Адмін-панель</h2>
<p> Ця сторінка доступна тільки для к-в з роллю <strong>admin</strong></p>

<div class="card p-4">
    <h4>Статистика</h4>
    <p>Статистика 1</p>
    <p>Статистика 2</p>
    <p>Статистика 3</p>
</div>

<a asp-action="Index" class="btn btn-outline-light mt-3">На головну</a>
